@import 'styles/Colors';

header {
    // min-height: 80px;

    #home-link {
        text-decoration: none;
        color: $color-black;
        line-height: 50px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 1.3em;
    }

    nav {
        height: 40px;
        background-color: $color-blue;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0 5px;
            margin: 0;

            li {
                flex-grow: 1;
                text-align: center;
                font-weight: bold;

                a {
                    text-decoration: none;
                    color: $color-white;
                    text-align: center;
                }

                &.selected {
                    a {
                        color: $color-yellow;
                    }
                }
            }
        }
    }
}