@import 'styles/Colors';


@keyframes slideUp {
    0% {
        top: 40px
    }
    100% {
        top: 0
    }
}

#layout-banner {
    position: relative;
    top: 0;
    background-color: #363636;
    overflow: hidden;
    color: $color-white;

    &.opened {
        overflow: visible;
        z-index: 10;
        
        .banner-container {
            top: 0;
            background-color: #363636;

            .banner-comment {
                top: 0;
            }
        }

        #open-button {
            transform: rotate(180deg);
        }
    }

    .banner-container {
        position: relative;
        top: 0;

        .banner-comment {
            position: relative;
            top: 40px;
            display: block;
            font-size: .9em;
            font-weight: bold;
            padding-right: 30px;
            padding-left: 20px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
            color: inherit;
    
            &.active {
                position: absolute;
                width: 100%;
                animation: slideUp 1.5s ease;
                animation-fill-mode: forwards;
            }
    
            .price {
                color: #B8E986;
            }
        }
    }

    #open-button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30px;


        text-align: center;
        font-size: 1.3em;
        line-height: 40px;
    }
}

#layout-search {
    padding: 7px 15px;
    border: 1px solid #cccccc;

    #input-form {
        display: flex;
        background-color: $color-gray;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        font-size: .9rem;

        input[type="text"] {
            border: none;
            flex-grow: 1;
            background-color: transparent;
            padding-left: 10px;
            outline: none;
            font-size: 1em;

            &::placeholder {
                color: rgba($color-black, .5);
            }
        }

        button {
            width: 50px;
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: rgba($color-black, .5);
            font-size: 1em;
        }
    }
}

.ui-dropdown {
    text-align: center;
    font-size: 1rem;

    &.active .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        text-align: left;
        display: none;
        position: absolute;
        width: 100%;
        background-color: $color-white;
        border: 1px solid #cccccc;
        z-index: 1;

        &.disabled {
            display: none;
        }

        .menu-item {
            text-align: center;
            border-bottom: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            color: $color-black;

            &.active {
                font-weight: bold;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.store-tag-container {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    bottom: 10px;

    .store-tag {
        margin-right: 10px;
        color: $color-white;
        background-color: $color-black;
        border-radius: 5px;
        font-size: .8em;
        font-weight: bold;
        padding: 5px;
        text-align: center;

        &[data-value='today-price'] {
            background-color: green;
        }

        &[data-value='day-delivery'] {
            background-color: $color-blue;
        }
    }
}