@import 'styles/Colors';

.market-root {
    width: 100%;

    .store-container {
        background-color: $color-gray;
        padding: 5px 10px;

        h1 {
            color: $color-blue;
            font-size: .9em;
            margin-top: 2em;
        }
    }
}