@import 'styles/Colors';
@import 'styles/LayoutUI.scss';

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 420px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background-color: $color-white;
}